# Ignore all
*

# Unignore all directories
!*/

# Unignore .hx and .txt
!*.hx
!*.txt
!*.lua

# Unignore configuration files
!*.json
!*.xml

# Unignore markup
!*.md

# Unignore license
!LICENSE

# Ignore export files
export/*

# Ignore IDE
.vscode/*

# Ignore GitHub
.github/*


### FNF-Specific
# File used for the NG API. Should not be shared with others.
APIStuff.hx
art/build_x32-officialrelease.bat
art/build_x64-officialrelease.bat
art/test_x64-debug-officialrelease.bat